.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
ENV/
env.bak/
venv.bak/

*.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

#Project specific
chroma_db/
analysis_results/
news_data
